.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.env
*.csv
data/
datasets/
*.csv
*.zip
*.tar
*.gz
data/
datasets/
cornellmovie_reviews.csv
rotten_tomatoes_critic_reviews.csv
IMDB Dataset.csv
.venv/
.idea/
*.csv
*.zip
*.rar
txt_sentoken2/
wordcloud-1.9.4-py39h827c3e9_0/
__pycache__/
